

/*  clear fix */

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}


/* Font Styles */

h1{
	color: ghostwhite;
	font-family: 'Orbitron', sans-serif, bold;
	font-size: 70px;
  padding: 10px;
	
}

h2{
  color: ghostwhite;
  font-family: 'Orbitron', sans-serif, regular;
  font-size: 12px;
  color: #90fcf9;
  text-align: center;
}

h3{
  color: ghostwhite;
  font-family: 'Orbitron', sans-serif, regular;
  font-size: 10px;
}

h4{
  color: ghostwhite;
  font-family: 'Orbitron', sans-serif, regular;
  font-size: 20px;
  text-align: center;
}

h5{
  color: ghostwhite;
  font-family: 'Orbitron', sans-serif, regular;
  font-size: 12px;
  text-align: center;
  padding: 50px;
}

h6{
  color: ghostwhite;
  font-family: 'Orbitron', sans-serif, bold;
  font-size: 50px;
  padding: 10px;

}


b{

	color: ghostwhite;
	font-family: 'Orbitron', sans-serif, regular;
	padding: 130px ;
  margin-left: 200px;
  margin-bottom: 10px;

}

p{
 color: ghostwhite;
 font-family: 'Share Tech', sans-serif; 
 font-size: 15px;
 text-align: center;
 line-height: 20px;
 padding: 20px;
}

/* header */

header ul{
  list-style: none;
}


/* Button Styles */

.button {

 border: none;
  color: black;
  font-family: 'Orbitron', sans-serif, regular;
  background-color: #90fcf9;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 3%;
  margin: 40px;
  cursor: pointer;
  
  }  

  .button1 {
    background-color: #90fcf9;

  }
/* Box styling */
.box {
  border: solid;
  border-color: ghostwhite;
  border-width: 1px;
  padding: 20px;
}
/* Navigation Styling */

.topnav {
  overflow: hidden;
  background-color: #black;
}


.topnav a {
  float: left;
  font-family: 'Orbitron', sans-serif, regular;
  display: block;
  color: ghostwhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #whitesmoke;
  color: #90fcf9;
}

.topnav a.active {
  background-color: #90fcf9;
  color: black;
}

.topnav .search-container {
  font-family: 'Orbitron', sans-serif, regular;
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  background-color: #080b14;
  color: ghostwhite;
  margin-right: 20px;
  margin-top: 8px;
  font-size: 15px;
  border: solid;
  border-color: ghostwhite;

}

.topnav .search-container button {
  float: right;
  padding: 7px 10px;
  margin-top: 9px;
  margin-right: 10px;
  background: #ghostwhite;
  font-size: 17px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ghostwhite;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }

  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }

